<div class="container">
    <youtube-player #player [videoId]="currentSong?.url" (ready)="onPlayerReady()"></youtube-player>
    <div class="playlist">
        <h2>Playlist</h2>
        <input type="text" #newItem />
        <button (click)="onAddClick(newItem.value)">Add new Song</button>
        <table>
            <thead>
                <tr>
                    <th>Url</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs">
                    <td>{{ song?.url }}</td>
                    <td>{{ song?.length }}</td>
                    <td><button (click)="onDeleteClick(song.key)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
