<button (click)="onAddClick()">Add new Song</button>
<button (click)="onRefreshClick()">Refrech table</button>
<button (click)="onDeleteClick()">delete table</button>
<table>
    <thead>
        <tr>
            <th>Url</th>
            <th>Lengt</th>
            <th>Current song</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of playlist?.songs">
            <td>{{ song?.url }}</td>
            <td>{{ song?.length }}</td>
            <td>
                <ng-container *ngIf="song?.url === playlist?.currentSong?.url">< {{ playlist?.currentTime }}</ng-container>
                <ng-container *ngIf="song?.url !== playlist?.currentSong?.url"></ng-container>
            </td>
        </tr>
    </tbody>
</table>
