<div class="container">
    <div id="player"></div>
    <div class="playlist">
        <h2>Playlist</h2>
        <input type="text" #newItem (keydown.enter)="onAddClick(newItem.value)" />
        <button (click)="onAddClick(newItem.value)">Add new Song</button>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs">
                    <td>{{ song?.id }}</td>
                    <td>{{ song?.length }}</td>
                    <td><button (click)="onDeleteClick(song.key)">Delete</button></td>
                    <td *ngIf="song?.id === currentSong?.id">< Playing</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
